body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Kutu modelini düzelt */
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

header {
  background-color: #B8BEDD;
  color: black;
  text-shadow: 1px 3px rgba(250, 242, 242, 0.9);
  text-align: center;
  padding: 1em 0;
}

.login-container,
.register-container{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  margin: 10px;
}

.button {
  margin-left: 10px;
  transition: background-color 0.9s ease;
}

nav {
  background-color: white;
  padding: 1em 0;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

article {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
}

article img {
  max-width: 100%;
  height: auto;
}

article:nth-child(odd),
article:nth-child(even) {
  background-color: #B8BEDD;
  color: rgb(149, 32, 32);
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="reset"] {
  background-color: #f2791d;
  color: #fff;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #f2f6e2;
  font-family: Arial;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.dropdown {
  float: center; 
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(149, 32, 32);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(149, 32, 32);
  color: #f2f6e2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f6e2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(5, 108, 226, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(149, 32, 32);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #B8BEDD;
  color: rgb(149, 32, 32);
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f2f6e2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

footer h3,
footer h4 {
  color: rgb(149, 32, 32);
}

footer img {
  margin: 5px;
}

footer a {
  text-decoration: none;
  color: rgb(149, 32, 32);
}

footer a:hover {
  text-decoration: underline;
}
