body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f6e2;
}

header {
    background-color: #b8bedd;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

header h1 {
    color: rgb(149, 32, 32);
}

header p em {
    font-weight: bold;
    color: black;
}

section {
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

main>div {
    width: 48%;
    margin: 0 1%;
    text-align: justify;
    vertical-align: middle;
}

main img,
main iframe {
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}


hr {
    border: 1px solid rgb(149, 32, 32);
    margin: 20px 0;
}

h2 {
    color: rgb(149, 32, 32);
}

ol {
    padding-left: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f2f6e2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right {
    text-align: right;
  }
  
  footer h3,
  footer h4 {
    color: rgb(149, 32, 32);
  }
  
  footer img {
    margin: 5px;
  }
  
  footer a {
    text-decoration: none;
    color: rgb(149, 32, 32);
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
.rate {
    float: right;
    height: 10px;
    padding: 0 20px;
}
.rate:not(:checked) > input {
    position:fixed;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:black;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
